LK_JIRA_BASE_URL=https://jira.example.com
LK_JIRA_TLS_SKIP_VERIFY=false
# Необязательно: токен GitLab с read_api только для чтения MR
LK_GITLAB_BASE_URL=https://gitlab.example.com
LK_GITLAB_TOKEN=
# For an internal Jira CA, put the public CA certificate at certs/jira-ca.pem
# and uncomment this line:
# Для сертификатов Jira и GitLab:
# NODE_EXTRA_CA_CERTS=/run/certs/jira-ca.pem
